<div class="center-button">
  <button type="button" class=" btn btn-default"><%= link_to 'New Grade', new_grade_path %></button>
</div>

<table class="table-index table">
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Score</th>
      <th>Student</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.assignment_name %></td>
        <td><%= grade.grade %></td>
        <td><%= Student.find(grade.student_id).name %></td>
        <td><%= grade.updated_at.strftime("%m/%d/%Y")%></td>
        <td>
          <%= link_to image_tag('black_pencil.svg', size: "20x20"), edit_grade_path(grade.id) %>
          <%= link_to image_tag('close_icon.svg', size: "15x15"), grade, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
