<p id="notice"><%= notice %></p>

<h1>A+ Dashboard</h1>
<%= link_to "Add teacher", new_teacher_path %>

<%= link_to "Add student", new_student_path %>

<%= link_to "Add parent", new_parent_path %>

<%= link_to "Add grade", new_grade_path %>
