<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :name, 'name', class: "control-label" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :course, 'course', class: "control-label" %>
  <%= f.text_field :course, class: "form-control" %>

  <%= f.fields_for :user do |user_form| %>
    <%= user_form.hidden_field :teacher_id %>

    <%= user_form.label :email, 'email', class: "control-label" %>
    <%= user_form.text_field :email %>

    <%= user_form.label :password, class: "control-label" %>
    <%= user_form.text_field :password %>

    <%= user_form.label :password_confirmation, class: "control-label" %>
    <%= user_form.text_field :password_confirmation %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
