<%= form_for(@parent) do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, 'name', class: "control-label" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :student_id, 'student id', class: "control-label" %>
  <%= f.text_field :student_id, class: "form-control" %>

  <%= f.fields_for :user do |user_form| %>
    <%= user_form.hidden_field :parent_id %>

    <%= user_form.label :email, 'email', class: "control-label" %>
    <%= user_form.text_field :email %>

    <%= user_form.label :password, class: "control-label" %>
    <%= user_form.text_field :password %>

    <%= user_form.label :password_confirmation, class: "control-label" %>
    <%= user_form.text_field :password_confirmation %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
